In [1]:
import pandas as pd 
from database import PostgresDB
import data_modeling as dm
from Parametarized_sql import Insert_query

In [2]:
table_data = dm.data_loader('/home/rohan/DataEngineering/mini_ETL_project/data/world_cups.csv')
print("Extracted DataFrame:")

Extracted DataFrame:

In [3]:
display(table_data.head())

,Year,Host Country,Winner,Runners-Up,Third,Fourth,Goals Scored,Qualified Teams,Matches Played
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70.0,13,18
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70.0,16,17
2,1938,France,Italy,Hungary,Brazil,Sweden,84.0,15,18
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88.0,13,22
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140.0,16,26

In [4]:
display(table_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             22 non-null     int64
 1   Host Country     22 non-null     object
 2   Winner           22 non-null     object
 3   Runners-Up       21 non-null     object
 4   Third            21 non-null     object
 5   Fourth           21 non-null     object
 6   Goals Scored     21 non-null     float64
 7   Qualified Teams  22 non-null     int64
 8   Matches Played   22 non-null     int64
dtypes: float64(1), int64(3), object(5)
memory usage: 1.7+ KB

None

In [5]:
display(table_data.describe())

              Year  Goals Scored  Qualified Teams  Matches Played
count    22.000000     21.000000        22.000000       22.000000
mean   1978.909091    121.333333        22.227273       43.818182
std      27.738419     33.943090         7.602830       17.632860
min    1930.000000     70.000000        13.000000       17.000000
25%    1959.000000     89.000000        16.000000       32.000000
50%    1980.000000    126.000000        20.000000       45.000000
75%    2001.000000    146.000000        32.000000       64.000000
max    2022.000000    171.000000        32.000000       64.000000

In [6]:
display(table_data.isnull().sum())

Year               0
Host Country       0
Winner             0
Runners-Up         1
Third              1
Fourth             1
Goals Scored       1
Qualified Teams    0
Matches Played     0
dtype: int64

In [7]:
table_data = dm.data_transformer(table_data)

In [ ]:
table_data = pd.rename(columns=lambda x: x.strip().lower().replace(' ', '_').replace('-', '_'))

In [8]:
db = PostgresDB()

In [9]:
query = Insert_query

In [10]:
result_db =db.run_query(query)
display(result_db)

Database connection established.
Executing query:
CREATE TABLE world_cup_summary (
    year INT,
    host_country VARCHAR(100),
    winner VARCHAR(100),
    runners_up VARCHAR(100),
    third VARCHAR(100),
    fourth VARCHAR(100),
    goals_scored FLOAT,
    qualified_teams INT,
    matches_played INT
);

Database connection closed.

TypeError: 'NoneType' object is not iterable