# I_O processing

from Tutedude

In [29]:
# I_O processing
with open("example.txt",'w') as file:
    content = file.write("Hello this is I_O processig \n")
    print(content)

29

In [32]:

with open("example.txt",'r') as file:
    content = file.read()
    print(content)

Hello this is I_O processig
I'm appending this new line

In [2]:
with open("example.txt",'a') as file:
    content = file.write("I'm appending this new line \n")
    print(content)

29

In [3]:

with open("example.txt",'r') as file:
    for line in file :
        print (line.strip())

Hello this is I_O processig
I'm appending this new line
I'm appending this new line

In [1]:
import csv 
with open ('data.csv', 'r') as file:
    reader = csv.reader(file)
    data = [row for row in reader]
print (data)

[['Name|Age'], ['Rohan Bisht|25']]

In [6]:
import csv 
with open ('data.csv', 'r') as file:
    reader = csv.DictReader(file)
    print(reader)
    for row in reader:
        print(row)

<csv.DictReader object at 0x766d1e5243e0>
{'Name|Age': 'Rohan Bisht|25'}
{'Name|Age': 'Shalini Singh|24'}

# Python Collection

In [10]:
from collections import namedtuple,defaultdict,Counter
employee = namedtuple('Employee',['name','dept'])
e1 = employee("Rohan","123")
e2 = employee("bob","456")
print (e1,e2)

Employee(name='Rohan', dept='123') Employee(name='bob', dept='456')

In [13]:
d= defaultdict(list)
d['123'].append('Rohan')
print(d)

defaultdict(<class 'list'>, {'123': ['Rohan']})

In [16]:
c = Counter(['apple','banana','apple','apple'])
print(c['apple'])
print(c['banana'])

3
1

# Processing Python List

In [18]:
data =[1,2,3,4,5]
sq = [_**2 for _ in data]
print(sq)

[1, 4, 9, 16, 25]

In [19]:
evens = [x for x in data if x %2 ==0]
print(evens)

[2, 4]

# Lambda function

In [ ]:
#lambda arguments : expression
square = lambda x: x*x
print(square(4))

16

In [23]:
add = lambda a,b : a+b
print(add(5,6))

11

In [29]:
# generally used with map () function 
# map (function,iterable)
data =[1,2,3,4,5]
squares = list(map(lambda x: x*x,data))
print(squares)

[1, 4, 9, 16, 25]

In [32]:
# filter function
# map iterate over every items but filter will find the item equivalent to it 
evens = list(filter(lambda x : x%2 ==0,data))
odds = list(filter(lambda x : x%2 !=0,data))
print(evens)
print(odds)

[2, 4]
[1, 3, 5]

# FILTERING DATA IN PYTHON

In [33]:
data = [100,0,300,400]
filtered = list(filter(lambda x: x>150,data))
print(filtered)

[300, 400]

In [35]:
data =[100,-1,200,None,0]
clean_filtered = list(filter(lambda x:   x is not None and x>0, data))
print (clean_filtered)

[100, 200]

In [36]:
empoyees = [
    {'name': 'Rohan','salary':420000},
    {'name': 'SHalini','salary':410000},
    {'name': 'Bob','salary':120000}
]

high_earners = list(filter(lambda x: x['salary'] >400000, empoyees))
print(high_earners)

[{'name': 'Rohan', 'salary': 420000}, {'name': 'SHalini', 'salary': 410000}]

# Set() function 
- removing duplicates
- performing set operation like union, intersection, etc

In [46]:
name = ['rohan' , 'shalini', 'kashvi', 'rohan', 'tannu']
unique_name = list(set(name))
print(unique_name)

['shalini', 'tannu', 'rohan', 'kashvi']

In [47]:
name = {'Shalini', 'tannu', 'rohan', 'kashvi'}
name1= {'shalini', 'rohan'}

non_common = name - name1
print(non_common)

{'tannu', 'Shalini', 'kashvi'}

In [48]:
empoyees = [
    {'name': 'Rohan','salary':420000},
    {'name': 'SHalini','salary':420000},
    {'name': 'Bob','salary':120000}
]

uniques = set(map(lambda x: x['salary'],empoyees))
print(uniques)

{420000, 120000}

# Sort Python list using Key

In [64]:
# sorted(data,key)

people = [
    {'name':'alicess','age':'29'},
    {'name':'rohan bisht','age':'26'}
    ]
sorted_people = sorted(people,key =lambda x : x['age'])
print(sorted_people)

name = ['rohan', 'bob', 'charlie']
sorted_people1 = sorted(name,key = lambda x : len(x))
print(sorted_people1)

[{'name': 'rohan bisht', 'age': '26'}, {'name': 'alicess', 'age': '29'}]
['bob', 'rohan', 'charlie']

Overview of Json String and Files

In [2]:
order_jd = "{\"order_id\" : 1, \"order_date\" : \"2023-07-25\"}"

order_jd

'{"order_id" : 1, "order_date" : "2023-07-25"}'

In [4]:
import json
order = json.loads(order_jd)

In [5]:
type(order)

dict

In [6]:
order['order_date']

'2023-07-25'

In [8]:
cities_js ='[\"Dallas\", \"Frisco\", \"Hyderabad\"]'
json.loads(cities_js)[1]

'Frisco'

In [10]:
schemas = json.load(open('schemas.json', 'r'))

In [ ]:
type(schemas)

schemas.keys()

dict_keys(['departments', 'categories', 'orders', 'products', 'customers', 'order_items'])

In [15]:
schemas.get('orders')

[{'column_name': 'order_id', 'data_type': 'integer', 'column_position': 1},
 {'column_name': 'order_date', 'data_type': 'string', 'column_position': 2},
 {'column_name': 'customer_id',
  'data_type': 'timestamp',
  'column_position': 3},
 {'column_name': 'order_status', 'data_type': 'string', 'column_position': 4}]

In [16]:
schemas['orders']

[{'column_name': 'order_id', 'data_type': 'integer', 'column_position': 1},
 {'column_name': 'order_date', 'data_type': 'string', 'column_position': 2},
 {'column_name': 'customer_id',
  'data_type': 'timestamp',
  'column_position': 3},
 {'column_name': 'order_status', 'data_type': 'string', 'column_position': 4}]

In [17]:
column_details = schemas['orders']

In [18]:
[col['column_name'] for col in column_details]

['order_id', 'order_date', 'customer_id', 'order_status']

In [19]:
list(map(lambda col:col['column_name'], column_details))

['order_id', 'order_date', 'customer_id', 'order_status']

In [23]:
sorting_key = input('enter the sorting key')
columns = sorted(column_details, key = lambda x: x[sorting_key])
print(columns)

[{'column_name': 'order_id', 'data_type': 'integer', 'column_position': 1}, {'column_name': 'order_date', 'data_type': 'string', 'column_position': 2}, {'column_name': 'order_status', 'data_type': 'string', 'column_position': 4}, {'column_name': 'customer_id', 'data_type': 'timestamp', 'column_position': 3}]

In [27]:
def get_columns_name (schemas, ds_name, sorting_key = 'column_position'):
    column_details = schemas[ds_name]
    columns = sorted(column_details, key = lambda col : col[sorting_key])
    return[col['column_name'] for col in columns]

In [29]:
get_columns_name(schemas, 'customers')

['customer_id',
 'customer_fname',
 'customer_lname',
 'customer_email',
 'customer_password',
 'customer_street',
 'customer_city',
 'customer_state',
 'customer_zipcode']